In [2]:
import json
from pathlib import Path
import pandas as pd  # optional, but handy for tabular work

In [3]:
export_path = Path("export.json")

with export_path.open(encoding="utf-8") as fp:
    data = json.load(fp)

users = pd.DataFrame(data["users"])
entries = pd.DataFrame(data["entries"])

In [7]:
entries.head(4)

   id  user_id      text translation notes
0   1        1       cat         kat
1   4        1     phone     telefon
2   5        1     works      værker
3   6        1  new word     nyt ord

In [9]:
  entries["user_id"].value_counts()

user_id
1    26
4    22
2    16
3     5
Name: count, dtype: int64

In [10]:
 entries.to_csv("entries_sorted.csv", encoding="latin-1", index=False)

In [12]:
entries = pd.read_csv("entries_edited.csv",  encoding="latin-1")

In [13]:
entries.head()

   id  user_id      text translation  notes
0   1        1     phone     telefon    NaN
1   2        1     works      værker    NaN
2   3        1  new word     nyt ord    NaN
3   4        1      ever  nogensinde    NaN
4   5        1      save         gem    NaN

In [15]:
entries_sorted = (
      entries.sort_values(["user_id", "id"], ascending=[True, True])
              .reset_index(drop=True)
  )
entries_sorted["id"] = range(1, len(entries_sorted) + 1)

In [16]:
entries_sorted.head(100)

    id  user_id                   text         translation  notes
0    1        1                  phone             telefon    NaN
1    2        1                  works              værker    NaN
2    3        1               new word             nyt ord    NaN
3    4        1                   ever          nogensinde    NaN
4    5        1                   save                 gem    NaN
..  ..      ...                    ...                 ...    ...
89  90        4                 Hungry              sulten    NaN
90  91        4              Meatballs         frikadeller    NaN
91  92        4  A little sad about it     lidt ked af det    NaN
92  93        4                too fat             for tyk    NaN
93  94        4    want to lose weight  vil gerne tabe sig    NaN

[94 rows x 5 columns]

In [17]:
entries_sorted.to_csv("entries_sorted.csv", encoding="latin-1", index=False)